<!-- Starts up everything needed to run the example listener/talker Python nodes. -->

<launch>
  <env name="ROS_MASTER_URI" value="http://rpi3:11311/"/>
  <env name="ROS_HOSTNAME" value="rpi3"/>
  <env name="ROS_IP" value="10.0.1.9"/>
<!-- Setup environment -->
        <machine name="arm"
                 address="arm"
                 user="ubuntu"
		 timeout="30"
		 env-loader="ROS_MASTER_URI=http://inspiron:11311/ /home/ubuntu/catkin_ws/devel/env.sh">
        </machine>


  <group name="odometry">
    <include file="$(find gyro_odom)/launch/gyro_odom.launch" />
    <include file="$(find mouse_odom)/launch/mouse_odom.launch" />
    <include file="$(find combined_odom)/launch/combined_odom.launch" />
<!--    <include file="$(find erl_bridge)/launch/erl_bridge.launch" /> -->
  </group>
  <group name='tf'>
<!--    <include file="$(find slam_tf_buffer)/launch/slam_tf_buffer.launch" />
-->
<!--
<node pkg="tf" type="static_transform_publisher" name="odom_base_broadcaster" args="0.0 0 0 0.0 0 0 /base_footprint /odom 100" />
-->
<!--<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.0 0 0 0.0 0 0 /base_footprint /odom_frame_combined 100" />
-->
<node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0.0 0 0 3.141568 0 0 /base_footprint /laser_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_mouse_front"
      args="0.115 0 0.0 -0.036 0.0 0.0 /base_footprint /mouse_front 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_mouse_rear"
      args="-0.115 0 0.0 3.197 0.0 0.0 /base_footprint /mouse_rear 100" />
  </group>
  <group name='lidar'>
    <include file="$(find ydlidar)/launch/lidar.launch" />
<!--    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
      args="0.2245 0.0 0.2 0.0 0.0  0.0 /base_footprint /laser_frame 40" />
-->
  </group>
  <group name='slam'>
    <include file="$(find hector_mapping)/launch/mapping_default.launch" />
    <include file="$(find launch_slam)/launch/hector_trajectory.launch" />
  </group>
</launch>
