<!-- Starts up everything needed to run the example listener/talker Python nodes. -->

<launch>
<include file="$(find launch_slam)/launch/launch_slam.launch" />
<include file="$(find base_controller)/launch/base_controller.launch" />
<include file="$(find coordinate_mover)/launch/coordinate_mover.launch" />
</launch>
